@model EmlakProjesi.Models.Konut

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-xl-8 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Konut Detayları</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-controller="Home" asp-action="Profile" method="POST">
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-name">@Html.DisplayNameFor(model => model.Isyeri.IsletmeAdi)</label>
                                        <h6 class="heading-small text-muted mb-4">@Html.DisplayFor(model => model.IsyeriId)</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-name">@Html.DisplayNameFor(model => model.Musteri.Email)</label>
                                        <h6 class="heading-small text-muted mb-4">@Html.DisplayFor(model => model.MusteriId)</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-name">@Html.DisplayNameFor(model => model.EmlakTuru)</label>
                                        <h6 class="heading-small text-muted mb-4">@Html.DisplayFor(model => model.EmlakTuru)</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-email">@Html.DisplayNameFor(model => model.Alan)</label>
                                        <h6 class="heading-small text-muted mb-4">@Html.DisplayFor(model => model.Alan)</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-first-name">@Html.DisplayNameFor(model => model.OdaSayisi)</label>
                                        <h6 class="heading-small text-muted mb-4">@Html.DisplayFor(model => model.OdaSayisi)</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-first-name">@Html.DisplayNameFor(model => model.KatNo)</label>
                                        <h6 class="heading-small text-muted mb-4">@Html.DisplayFor(model => model.KatNo)</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-first-name">@Html.DisplayNameFor(model => model.IsinmaTuru)</label>
                                        <h6 class="heading-small text-muted mb-4">@Html.DisplayFor(model => model.IsinmaTuru)</h6>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group focused">
                                        <label class="form-control-label" for="input-first-name">@Html.DisplayNameFor(model => model.OlusturmaTarihi)</label>
                                        <h6 class="heading-small text-muted mb-4">@Html.DisplayFor(model => model.OlusturmaTarihi)</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.KonutId">Düzenle</a> |
                            <a asp-action="Index">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




